#form_section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(163, 144, 144, 0.5);
  z-index: 2;
  transition: all 0.8s ease 0s;
  // padding: 25% 0;
  opacity: 0;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
#form_section.open {
  opacity: 1;
  visibility: visible;
}
.todo_form {
  width: 600px;
  margin: auto;
  background-color: #fff;
  padding: 15px 20px;
  border-radius: 10px;
}
.fa-circle-xmark {
  color: rgb(164, 56, 32);
  cursor: pointer;
  font-size: 20px;
}

.form_content {
  label {
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
  }
  :last-child {
    margin-bottom: 20px;
  }
}
.form_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form_alarm {
  font-weight: 600;
  font-family: 'Exo 2', sans-serif;
  color: rgb(164, 56, 32);
  font-size: 34px;
  display: inline-block;
}
.form_content::before {
  content: '';
  width: 100%;
  display: block;
  height: 2px;
  background-color: rgb(164, 56, 32);
  margin: 10px 0;
}
.title_input {
  margin: 5px 0;
  display: block;
  outline: none;
  border: none;
  box-shadow: 0 0 5px grey;
  border-radius: 5px;
  line-height: 20px;
  width: 100%;
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  font-size: 12px;
}
.description_textarea {
  margin: 5px 0;
  display: block;
  outline: none;
  border: none;
  box-shadow: 0 0 5px grey;
  border-radius: 5px;
  line-height: 20px;
  resize: none;
  height: 100px;
  width: 100%;
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  font-size: 12px;
}
.executor_input {
  margin: 5px 0;
  display: block;
  outline: none;
  border: none;
  box-shadow: 0 0 5px grey;
  border-radius: 5px;
  line-height: 20px;
  width: 100%;
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  font-size: 12px;
}
.create {
  cursor: pointer;
  font-weight: 400;
  font-family: 'Exo 2', sans-serif;
  font-size: 12px;
  line-height: 20px;
  background-color: rgb(10, 143, 39);
  border: none;
  border-radius: 10px;
  width: 50px;
  color: black;
}
.cancel {
  cursor: pointer;
  font-weight: 400;
  font-family: 'Exo 2', sans-serif;
  font-size: 12px;
  line-height: 20px;
  background-color: rgb(164, 56, 32);
  border: none;
  border-radius: 10px;
  width: 50px;
  color: black;
}
